h3{
    text-align: center;
    color: white;
}


header{
    background-color: rgba(5, 4, 17, 0.703);
    padding: 10px;
    
    
}
a{
    color: whitesmoke;
    text-align: start;
    
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: start;
}
body{
    background-color: rgb(199, 200, 200);
}
.col-md-6{
    align-items: center;
}
i{
    color: aliceblue;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container-fluid{
    padding : 20px;
    display: block;

    
    
}
.flex-box{
    width: 200px;
    height: 400px;
    background-color: rgb(75, 74, 74);
    border-radius: 10px;
    margin-top: 60px ;
    margin-left: 50px;
    
    
    
    
}
.flex-box1{
    width: 400px;
    height: 40px;
    background-color: rgb(64, 63, 63);
    border-radius: 10px;
    /* margin: 50px; */
    color: rgb(213, 207, 207);
    margin-left: 300px;
    
    
}
/* .col-8{
   
    padding: 5px;
   
    
} */

.flex-box3{
    width: 180px;
    height: 100px;
    background-color: rgb(75, 74, 74);
    border-radius: 10px;
    margin-left: 250px;
    margin-top: 50px;
    
}
.flex-box4{
    width: 180px;
    height: 100px;
    background-color: rgb(75, 74, 74);
    border-radius: 10px;
    margin-left: 480px;
    margin-top: auto;
    /* position: fixed; */
    
}
.flex-box5{
    width: 180px;
    height: 100px;
    background-color: rgb(75, 74, 74);
    border-radius: 10px;
    /* margin: 50px; */
    margin-left: 700px;
    margin-top: 50px;
    
}

.flex-box6{
    width: 900px;
    height: 150px;
    background-color: rgb(75, 74, 74);
    border-radius: 10px;
    margin-top: 100px;
    
}




